.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 180px;
    border: none;
}

.main-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 30px;
    padding: 20px 20px 0px 20px;
    height: 100%;
    width: 100%;
}

#productComponent_row1 {
    display: none;
}

a {
    transition: 0.1s;
}

a:hover {
    background-color: rgb(216, 216, 216) !important;
    border-radius: 7px;
    color: rgb(0, 0, 0) !important;
    transition: 0.15s;
}

a:active {
    transform: translateY(1.5px);
}

.active {
    background-color: white !important;
    border-radius: 10px;
    color: black !important;
    box-shadow: inset;
    pointer-events: none;
}

.profile {
    pointer-events: none;
}

img.pfp {
    height: 60px;
    border-radius: 50%;
    margin-left: 15px;
}

img.logo {
    max-height: 60px;
    margin-left: 15px;
    margin-right: 88px;
}

img.searchnav {
    margin-top: 3px;
    max-height: 50px;
}

img.navicon {
    height: 20px;
    margin-top: 2px;
    margin-left: 15px;
    margin-right: 13px;
}

.search>input:focus {
    outline: none;
}

.table-responsive {
    overflow-y: scroll;
    border-radius: 15px;
    box-shadow: none;
    height: auto;
}

.clear-colors {
    background-color: #383838;
    color: white;
}

.dark-button {
    border-radius: 20px;
    background-color: #383838;
    color: #FFFFFF;
    padding: 3px 10px 3px;
}

.dark-button:hover {
    box-shadow: 0 1px 2px #a7a9a9;
}

.dark-button:active {
    transform: translateY(1px);
}

.x-button {
    border-radius: 10px;
    padding: 0px 10px 0px;
}

.light-button {
    border-radius: 20px;
    background-color: #E7E7E7;
    color: #000000;
    padding: 4px 30px 4px;
    border: 2px solid #D6D0D0;
}

.light-button:hover {
    box-shadow: 0 1px 2px #a7a9a9;
}

.light-button:active {
    transform: translateY(2px);
}

.light-button:focus {
    outline: none;
}

.confirm-button {
    padding: 3px 25px 3px;
    background-color: #3EA83B;
}

.delete-button {
    padding: 3px 25px 3px;
    background-color: #C95057;
}

.input-select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Style for modal container */
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
    /* Semi-transparent black background */
    z-index: 100;
}

.modal-transition {
    transition: all 0.1s ease !important;
    animation: fadeIn 0.1s ease-in-out !important;
}

.modal-backdrop {
    background-color: rgb(144, 144, 144) !important;
    opacity: 0.5 !important;
}

.modal-backdrop-transparent {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

.modal-overlap-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 200;
}

/* Style for modal content */
.modal-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 25px;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.modal-content-product {
    width: 60%;
    margin: 5% auto;
}

.modal-content-order {
    width: 70%;
    margin: 5% auto;
}

.modal-overlap-content {
    position: relative;
    margin: 20% auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 25px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 200;
}

.modal-overlap-content h2 {
    text-align: center;
}

#confirm-modal {
    height: fit-content;
    width: 50px;
    position: absolute;
    top: 50px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}



/* Fade-in animation for the modal */
.fade-in {
    animation: fadeIn 0.1s ease-in-out;
}