{% extends "CLEAR/base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static '/stylesheet3.css' %}">
</head>
{% block search %}
<form id="search-form" method="GET" action="{% url 'search_joborders' %}">
    {% csrf_token %}
    <input id="search-input" class="search" name="q" type="search" placeholder="Search..."
        style="background-color: transparent; border:none; height: 40px; margin-top: 8px; width: max-content; color: white;">
</form>
{% endblock %}
{% block filter %} 
<button class="button btn btn-secondary filterbutton" data-toggle="modal" data-target="#filtermodal" 
style="height: fit-content; display: flexbox; align-items: center; opacity: 60%; border-radius: 35px; margin-right: 5px;">
Filter
</button>
{% endblock %}
{% block content %}

<div class="row pl-3 pt-3 pr-3" style="height:700px;">
    <div class="card main-card">
        <div class="table-responsive card"
            style="overflow-y: scroll; border-radius: 15px; box-shadow: none; height: 90%; margin-bottom: 13px;">

            <table id="joborder_table" class="table table-hover table-striped" style="border-radius: 40px;">
                <thead class="sticky-top" style="background-color: #3f3e3e; color: #ffffff;">
                    <th scope="col"> Job Order # </th>
                    <th scope="col"> Customer Name </th>
                    <th scope="col"> Outlet</th>
                    <th scope="col"> File Date</th>
                    <th scope="col"> Status </th>
                    <th scope="col"> Completion Date</th>
                    <th scope="col"> </th>
                </thead>
                <tbody>
                    {% for order_data in orders %}
                        <tr style="height:70px;">
                            <td> {{ order_data.order.pk }} </td>
                            <td> {{ order_data.order.customer}} </td>
                            <td> {{ order_data.order.outlet.outlet_name }}</td>
                            <td> {{ order_data.file_date }} </td>
                            <td> {{ order_data.status|title }} </td>
                            <td> {{ order_data.completion_date }}</td>
                            <td> <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                data-target="#editord-modal{{order_data.order.pk}}" 
                                style="border-radius: 30px;">Edit</button> </td>
                        </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>
        <div class="row ml-auto pr-3">
            <div class="col">
                <button type="button" class="btn light-button" data-toggle="modal" data-target="#outlets"> Outlets
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn light-button" data-toggle="modal" data-target="#addord"> Create Job Order
                </button>
            </div>
        </div>
{% for order_data in orders %}
    <form method="POST" action="{% url 'orders' %}"> {% csrf_token %}
        <div class="modal edit_modal" id="editord-modal{{order_data.order.pk}}" tabindex="-1" role="dialog" aria-labelledby="orange-modal-label">
            <div class="modal-content" style="width:60%;">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-11">
                                <h3 style="margin-bottom: 30px;">Edit Job Order</h3>
                            </div>
                            <div class="col-1"><button type="button" class="close btn-close" data-dismiss="modal"
                                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <label for="name">Job Order #</label>
                                <input type="number" class="pk form-control" value="{{ order_data.order.pk }}" style="border-radius: 100px; width: 170px;" readonly>
                            </div>
                            <div class="col-4">
                                <label for="name">Customer</label>
                                <input type="text" class="customer form-control" value="{{order_data.order.customer}}">
                            </div>
                            <div class="col-4">
                                <label for="outlet">Outlet</label>
                                <select class="outlet input-select" id="order_item1">
                                    <option value="delete">None</option>
                                    {% for z in outlets %}
                                    <option value="{{z.pk}}" {% if order_data.order.outlet.pk == z.pk %} selected {% endif %}>{{z.outlet_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-5" style="display: flex; justify-content: center;">
                                <div class="orderItemContainer pl-3 pr-3" id="orderItemContainer{{order_data.order.pk}}" style="height:250px; overflow-y:scroll;">
                                {% for item_data in order_data.items %}
                                    <div class="orderItem_instance" id="{{order_data.order.pk}}orderItem_instance{{forloop.counter}}">
                                        <div class="row pt-3">
                                            <div class="col-4">
                                                <label for="product">Product</label>
                                                <select class="order_item input-select" id="order_item1">
                                                    <option value="delete">None</option>
                                                    {% for z in products %}
                                                    <option value="{{z.pk}}"{% if item_data.item.product.pk == z.pk %} selected {% endif %}>{{z.name|title}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <label for="quantity">Quantity</label>
                                                <input type="number" class="quantity form-control" value="{{item_data.quantity}}">
                                            </div>
                                            <div class="col">
                                                <label for "bespoke"> Bespoke? </label>
                                                <input type="checkbox" class="bespoke form-control" role="switch" value="yes" 
                                                        style="height: 20px; margin-top: 8px;"
                                                        data-item-id="{{order_data.order.pk}}orderItem_instance{{forloop.counter}}" {% if item_data.bespoke == 'yes' %}checked{% endif %}>                                                          
                                            </div>

                                            <div class="col p-4">
                                                <button type="button" class="btn dark-button delete-item"
                                                data-row-id="{{order_data.order.pk}}orderItem_instance{{forloop.counter}}"> &times
                                                </button>
                                            </div>
                                        </div>
                                        <div class="itemMaterialContainer" id="{{order_data.order.pk}}itemMaterialContainer{{forloop.counter}}"{% if item_data.bespoke == 'no' %}style="display:none;"{% endif %}>
                                            <div class="row ml-1 pb-0"> Add-Ons </div>
                                            {% for material_data in item_data.materials %}
                                            <div class="materialRow row mt-1 pr-2" id="{{order_data.order.pk}}materialRow{{forloop.parentloop.counter}}_{{forloop.counter}}">
                                                <div class="col-3">
                                                    <select class="material_type input-select">
                                                        <option value="textile"> Textile</option>
                                                        <option value="accessory" {% if material_data.type == 'accessory' %}selected{% endif %}> Accessory</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <select class="item_material input-select" id="item_material">
                                                        <option value="delete"> {{material_data.type}} </option>
                                                        {% if material_data.type == 'textile' %}
                                                            {% for z in textiles %}
                                                            <option value="{{z.material_key.material_key}}" {% if material_data.material.material_key.material_key == z.material_key.material_key %} selected {% endif %}>{{z.name}}</option>
                                                            {% endfor %}

                                                        {% elif material_data.type == 'accessory' %}
                                                            {% for z in accessories %}
                                                            <option value="{{z.material_key.material_key}}" {% if material_data.material.material_key.material_key == z.material_key.material_key %} selected {% endif %}>{{z.name}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <input type="number" class="bespoke_rate form-control" value="{{material_data.bespoke_rate}}" step="0.01">
                                                </div>
                                                <div class="col-2">
                                                    <input type="number" class="quantity form-control" value="{{material_data.quantity}}">
                                                </div>
                                                <div class="col-1">
                                                    <button type="button" class="btn dark-button delete-material" data-row-id="{{order_data.order.pk}}materialRow{{forloop.parentloop.counter}}_{{forloop.counter}}"> &times
                                                    </button>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="button_row row justify-content-center">
                                            <button type="button" class="addMaterial addMaterial_edit btn dark-button x-button mt-3 ml-1" id="{{order_data.order.pk}}editMaterial{{forloop.counter}}"
                                            data-order-id="{{order_data.order.pk}}" data-item-id="{{forloop.counter}}" data-counter="{{item_data.material_count}}" {% if item_data.bespoke == 'no' %}style="display:none;"{% endif %}>Add Material</button>
                                        </div>
                                        <hr style="margin: 20px 0; border-top:1px solid #767B85;">
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="row" style="display: flexbox; justify-content: center;">
                                <button type="button" class="addItem_edit btn dark-button x-button mt-1 ml-1 mb-5" data-order-id="{{order_data.order.pk}}"
                                    data-counter="{{order_data.item_count}}">Add Item</button>
                            </div>
                            <div class="row" style="display: flex; justify-content: center;">
                                <div class="col-5">
                                    <label for="status">Job Order Status</label>
                                    <select class="status input-select mb-3" value="{{order_data.status}}" style="border-radius: 100px;">
                                        <option value="in-queue">In-queue</option>
                                        <option value="completed"{% if order_data.status == 'completed' %} selected{% endif %}> Completed</option>
                                        <option value="cancelled"{% if order_data.status == 'cancelled' %} selected{% endif %}>Cancelled</option>
                                        <option value="in-progress"{% if order_data.status == 'in-progress' %} selected{% endif %}>In-progress</option>
                                    </select>

                                    <label for="File Date" class="mt-2">File Date</label>
                                    <input type="date" class="file_date form-control" value="{{ order_data.file_date|date:'Y-m-d' }}" style="border-radius: 100px;">
                                </div>
                                <div class="col-5" style="margin-top: -9px;">
                                    <label for="Start Date" class="mt-2">Start Date</label>
                                    <input type="date" class="start_date form-control mb-4" value="{{ order_data.order.start_date|date:'Y-m-d' }}" style="border-radius: 100px;">
                                    
                                    <label for="Completion Date">Completion Date</label>
                                    <input type="date" class="completion_date form-control" value="{{ order_data.order.completion_date|date:'Y-m-d' }}" style="border-radius: 100px;">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-3 mr-auto">
                                <button type="button" class="btn dark-button delete-button m-2" data-toggle="modal"
                                data-target="#delconf-modal{{order_data.order.pk}}"> Delete Job Order </button>
                            </div>
                            <div class="col-3 ml-auto">
                                <button type="button" class="btn dark-button m-2" data-toggle="modal"
                                data-target="#editconf-modal{{order_data.order.pk}}"> Save Edits
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- CONFIRM EDIT MATERIALS MODAL-->

    <div class="modal" id="editconf-modal{{order_data.order.pk}}" tabindex="-1"
        style=" margin-left: 15%; margin-top: 10%; width: 70%;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-12">
                    <h4 style="text-align: center;"> Confirm edits? </h4>
                </div>
                <div class="row text-center" style="margin-top: 15px;">
                    <div class="col">
                        <button type="button" class="btn dark-button" data-dismiss="modal"> Continue
                            Editing </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn dark-button confirm-button submit-btn" data-modal-id="editord-modal{{order_data.order.pk}}" data-action="edit_form">
                            Confirm </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    
    <!-- CONFIRM DELETE MATERIALS MODAL-->

    <div class="modal" id="delconf-modal{{order_data.order.pk}}" tabindex="-1"
        style=" margin-left: 15%; margin-top: 10%; width: 70%;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-12">
                    <h4 style="text-align: center;"> Delete Job Order? </h4>
                </div>
                <div id="confirmDeleteMaterial{{material_data.material.material_key.material_key}}">
                    <form method="POST" action="{% url 'orders' %}"> {% csrf_token %}
                        <input type="hidden" name="delete_form" value="1">
                        <input type="hidden" name="pk" value="{{order_data.order.pk}}">
                        <div class="container-fluid">
                            <div class="row text-center" style="margin-top: 15px;">
                                <div class="col">
                                    <button type="button" class="btn dark-button" data-dismiss="modal">
                                        Continue Editing
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn dark-button delete-button"> Confirm </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- ADD MATERIAL MODAL -->
<form method="POST" action="{% url 'orders' %}"> {% csrf_token %}
    <div class="modal" id="addord" tabindex="-1" role="dialog" aria-labelledby="orange-modal-label">
        <div class="modal-content" style="width:60%;">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-11">
                            <h3 style="margin-bottom: 30px;">Create Job Order</h3>
                        </div>
                        <div class="col-1"><button type="button" class="close btn-close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <label for="name">Job Order #</label>
                            <input type="number" class="pk form-control" value="" style="border-radius: 100px; width: 170px;" readonly>
                        </div>
                        <div class="col-4">
                            <label for="name">Customer</label>
                            <input type="text" class="customer form-control">
                        </div>
                        <div class="col-4">
                            <label for="outlet">Outlet</label>
                            <select class="outlet input-select" id="order_item1">
                                <option value="delete">None</option>
                                {% for z in outlets %}
                                <option value="{{z.pk}}">{{z.outlet_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mt-5" style="display: flex; justify-content: center;">
                        <div class="col">
                            <div class="orderItemContainer pr-3 pl-3" id="orderItemContainer" style="height:250px; overflow-y:scroll;">
                                <div class="orderItem_instance" id="orderItem_instance1">
                                    <div class="row pt-3">
                                        <div class="col-4">
                                            <label for="product">Product</label>
                                            <select class="order_item input-select" id="order_item1">
                                                <option value="delete">None</option>
                                                {% for z in products %}
                                                <option value="{{z.pk}}">{{z.name|title}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label for="quantity">Quantity</label>
                                            <input type="number" class="quantity form-control" value="">
                                        </div>
                                        <div class="col">
                                            <label for "bespoke"> Bespoke</label>
                                            <input type="checkbox" class="bespoke form-control" style="height: 20px; margin-top: 8px;" value="yes" data-item-id="orderItem_instance1">
                                        </div>
                                        <div class="col p-4">
                                            <button type="button" class="btn dark-button delete-item"
                                            data-row-id="orderItem_instance1"> &times
                                            </button>
                                        </div>
                                    </div>
                                    <div class="itemMaterialContainer" id="itemMaterialContainer1" style="display:none;">
                                        <div class="row ml-1 pb-0"> Add-Ons </div>
                                    </div>
                                    <div class="button_row row justify-content-center">
                                        <button type="button" class="addMaterial_add addMaterial btn dark-button x-button mt-3 ml-1" id="addMaterial1"
                                        data-item-id="1" data-counter="0" style="display:none;">Add Material</button>
                                    </div>
                                    <hr style="margin: 20px 0; border-top:1px solid #767B85">
                                </div>
                            </div>
                            <div class="row" style="display: flex; justify-content: center;">
                                <button type="button" class="addItem_add btn dark-button x-button mt-3 ml-1 mb-5" data-item-id="1" data-counter="1">Add
                                    Item</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row" style="display: flex; justify-content: center;">
                        <div class="col-5 mr-3">
                            <label for="status">Job Order Status</label>
                            <select class="status input-select mb-3">
                                <option value="in-queue">In-queue</option>
                                <option value="completed"> Completed</option>
                                <option value="cancelled">Cancelled</option>
                                <option value="in-progress">In-progress</option>
                            </select>
                    
                            <label for="File Date" class="mt-2">File Date</label>
                            <input type="date" class="file_date form-control" value="" style="border-radius: 100px;">
                        </div>
                        <div class="col-5" style="margin-top: -9px;">
                            <label for="Start Date" class="mt-2">Start Date</label>
                            <input type="date" class="start_date form-control mb-3" value="" style="border-radius: 100px;">
                    
                            <label for="Completion Date" class="mt-2">Completion Date</label>
                            <input type="date" class="completion_date form-control" value="" style="border-radius: 100px;">
                    
                        </div>
                    
                    </div>
                    <div class="row pt-3" style="margin-top: 15px;">
                        <div class="col-4 ml-auto text-right">
                            <button type="button" class="btn dark-button" data-toggle="modal"
                                data-target="#confirm-modal"> Create Job Order
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONFIRM ADD MODAL -->
    <div class="modal" id="confirm-modal" tabindex="-1" style="margin-left: -10%; margin-top: 1%; width: 100%;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-12">
                    <h4 style="text-align: center;"> Create Job Order? </h4>
                </div>
                <div class="row text-center" style="margin-top: 15px;">
                    <div class="col">
                        <button type="button" class="btn dark-button" data-dismiss="modal"> Continue
                            Editing </button>
                    </div>
                    <div class="col">
                        <button type="button" class="submit-btn btn dark-button confirm-button" data-modal-id="addord" data-action="add_form"> Confirm </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="POST" action="{% url 'orders' %}"> {% csrf_token %}
    <div class="modal" id="outlets" tabindex="-1" role="dialog" aria-labelledby="orange-modal-label">
        <div class="modal-content"  style="height:60%; width:40%;">
            <div class="modal-body">
                <div class="container-fluid">    
                    <input type="hidden" name="add_form" value="1"></input>
                    <div class="row">
                        <div class="col-11">
                            <h3 style="margin-bottom: 30px;">Outlet</h3>
                        </div>
                        <div class="col-1"><button type="button" class="close btn-close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Outlet #
                        </div>
                        <div class="col">
                            Outlet Name
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                    <div class="outletContainer pr-3 pl-3" style="height: 180px; overflow-y: scroll;">
                    {% for outlet in outlets %}
                    <div class="outletRow row mt-2" id="outletRow{{forloop.counter}}">
                        <div class="col">
                            <input type="number" class="outlet_id form-control" value="{{outlet.pk}}" readonly>
                        </div>
                        <div class="col">
                            <input type="text" class="outlet_name form-control" value="{{outlet.outlet_name}}"> 
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn dark-button delete-outlet"
                            data-row-id="outletRow{{forloop.counter}}"> &times
                            </button>
                        </div>
                    </div>                    
                    {% endfor %}
                    </div>
                    <div class="row" style="display: flex; justify-content: center;">
                        <button type="button" class="addOutlet btn dark-button x-button mt-3 ml-1" id="outlet1"
                        data-counter="{{outlet_count}}">Add Row</button>
                    </div>
                </div>
                <div class="row pt-3" style="margin-top: 15px;">
                        <div class="col-4 mr-auto">
                            <button type="button" class="btn dark-button" data-dismiss="modal"> Cancel
                                Action</button>
                        </div>
                        <div class="col-4 ml-auto text-right">
                            <button type="button" class="btn dark-button" data-toggle="modal"
                                data-target="#outletconf"> Save Edits
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="outletconf" tabindex="-1" style=" margin-left: 15%; margin-top: 10%; width: 70%;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-12">
                    <h4 style="text-align: center;"> Confirm edits? </h4>
                </div>
                <div class="row text-center" style="margin-top: 15px;">
                    <div class="col">
                        <button type="button" class="btn dark-button" data-dismiss="modal"> Continue
                            Editing </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn dark-button confirm-button submit-btn-outlet">
                            Confirm </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- TEMPLATES -->
<div class="orderItem_instance" id="orderItem_instance_temp" style="display:none;">
    <div class="row pt-3">
        <div class="col-4">
            <label for="product">Product</label>
            <select class="order_item input-select" id="order_item1">
                <option value="delete">None</option>
                {% for z in products %}
                <option value="{{z.pk}}">{{z.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4">
            <label for="quantity">Quantity</label>
            <input type="number" class="quantity form-control" value="">
        </div>
        <div class="col">
            <label for="bespoke"> Bespoke</label>
            <input type="checkbox" class="bespoke form-control" value="yes" style="height: 20px; margin-top: 8px;" data-item-id="orderItem_instance1">
        </div>
        <div class="col p-4">
            <button type="button" class="btn dark-button delete-item"
            data-row-id=""> &times
            </button>
        </div>
    </div>
    <div class="itemMaterialContainer" id="itemMaterialContainer_temp" style="display:none;">
        <div class="row ml-1 pb-0"> Add-Ons </div>
    </div>
    <div class="button_row row justify-content-center">
        <button type="button" class="addMaterial addMaterial_add btn dark-button x-button mt-3 ml-1" id="addMaterial1"
        data-item-id="1" data-counter="0" style="display:none;">Add Material</button>
    </div>
    <hr style="margin: 20px 0; border-top:1px solid #767B85">
</div>

<div class="materialRow row mt-1 pr-2" id="materialRow_temp" style="display:none;">
    <div class="col-3">
        <select class="material_type input-select">
            <option value="textile"> Textile</option>
            <option value="accessory"> Accessory</option>
        </select>
    </div>
    <div class="col-3">
        <select class="item_material input-select" id="item_material">
            <option value="delete"> None </option>
            {% for z in textiles %}
            <option value="{{z.material_key.material_key}}">{{z.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-3">
        <input type="number" class="bespoke_rate form-control" placeholder="Bespoke Rate" step="0.01">
    </div>
    <div class="col-2">
        <input type="number" class="quantity form-control" placeholder="Qty">
    </div>
    <div class="col-1">
        <button type="button" class="btn dark-button delete-material" data-row-id=""> &times
        </button>
    </div>
</div>

<div class="outletRow row mt-2" id="outletRow_temp" style="display:none;">
    <div class="col">
        <input type="number" class="outlet_id form-control" readonly>
    </div>
    <div class="col">
        <input type="text" class="outlet_name form-control"> 
    </div>
    <div class="col-2">
        <button type="button" class="btn dark-button delete-outlet"
        data-row-id=""> &times
        </button>
    </div>
</div>


<!--FILTER MODAL-->
<div class="modal" id="filtermodal" style="max-width: 700px; position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 60%;">
    <div class="modal-content">
        <div class="modal-body">
            <div class="container">
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    <input id="inqueue" name="filterstatus" type="checkbox" class="status-checkbox" value="in-queue">
                    <label class="form-check-label" for="inqueue">In Queue</label>
                </div>
                <div>
                    <input id="inprocess" name="filterstatus" type="checkbox" class="status-checkbox" value="in-process">
                    <label class="form-check-label" for="inprocess">In Process</label>
                </div>
                <div>
                    <input id="completed" name="filterstatus" type="checkbox" class="status-checkbox" value="completed">
                    <label class="form-check-label" for="completed">Completed</label>
                </div>
                <div>
                    <input id="cancelled" name="filterstatus" type="checkbox" class="status-checkbox" value="cancelled">
                    <label class="form-check-label" for="cancelled">Cancelled</label>
                </div>                            
            </div>
        </div>
    </div>
</div>





<script>

$(function () {
    $('#toggle-bespoke').bootstrapToggle();
})

$(document).ready(function() {
    const materialRow_template = $('#materialRow_temp');
    const item_template = $('#orderItem_instance_temp');
    const addItem_container = $('#orderItemContainer');
    const outlet_template = $('#outletRow_temp');
    const outlet_parent = $('.outletContainer');

    function addMaterial_add(itemId, counter, button) {
        counter++;

        newRow = materialRow_template.clone()
        newRow.attr('id', 'materialRow' + itemId + '_' + counter);
        newRow.find('.item_material').attr('id', 'item_material' + itemId + '_' + counter).val('delete');
        newRow.find('.bespoke_rate').val('');

        newRow.find('.delete-material').attr('data-row-id', 'materialRow' + itemId + '_' + counter);
        console.log(newRow.find('.item_material').attr('id'))
        button.data('counter', counter);

        let parent = $('#itemMaterialContainer' + itemId + '.itemMaterialContainer');

        console.log(parent)

        parent.append(newRow);
        newRow.show();

        console.log(newRow);
    }
    function addItem_add(counter, button) {
        counter++; 

        newItem = item_template.clone()

        newItem.attr('id', 'orderItem_instance' + counter);
        newItem.find('.order_item').attr('id', 'order_item' + counter).val('delete');
        newItem.find('.quantity').val('');
        newItem.find('.bespoke').prop('checked', false).attr('data-item-id', 'orderItem_instance' + counter);

        newItem.find('.delete-item').attr('data-row-id', 'orderitem_instance' + counter);

        newItem.find('.itemMaterialContainer').attr('id', 'itemMaterialContainer' + counter);
        newItem.find('.addMaterial_add').attr('id', 'addMaterial' + counter).attr('data-item-id', counter);

        addItem_container.append(newItem);
        newItem.show();

        button.data('counter', counter);

        console.log(newItem);
    }
    function addMaterial_edit(orderId, itemId, counter, button) {
        counter++;

        newRow = materialRow_template.clone()
        newRow.attr('id', orderId + 'materialRow' + itemId + '_' + counter);
        newRow.find('.item_material').attr('id', orderId + 'item_material' + itemId + '_' + counter).val('delete');
        newRow.find('.bespoke_rate').val('');

        newRow.find('.delete-material').attr('data-row-id', orderId + 'materialRow' + itemId + '_' + counter);
        console.log(newRow.find('.item_material').attr('id'))
        button.data('counter', counter);

        let parent = $('#' + orderId + 'itemMaterialContainer' + itemId);

        console.log(parent)

        parent.append(newRow);
        newRow.show();

        console.log(newRow);
    }
    function addItem_edit(orderId, counter, button) {
        counter++; 

        newItem = item_template.clone()

        newItem.attr('id', orderId + 'orderItem_instance' + counter);
        newItem.find('.order_item').attr('id', orderId + 'order_item' + counter).val('delete');
        newItem.find('.quantity').val('');
        newItem.find('.bespoke').prop('checked', false).attr('data-item-id', orderId + 'orderItem_instance' + counter);

        newItem.find('.delete-item').attr('data-row-id', orderId + 'orderItem_instance' + counter);

        newItem.find('.itemMaterialContainer').attr('id', orderId + 'itemMaterialContainer' + counter);
        newItem.find('.addMaterial_add')
        .removeClass('addMaterial_add')
        .addClass('addMaterial_edit')    
        .attr('data-item-id', counter)
        .attr('data-order-id', orderId); 

        parent = $('#orderItemContainer' + orderId)
        parent.append(newItem);

        newItem.show();

        button.data('counter', counter);

        console.log(newItem);
    }
    function addOutlet(counter, button) {
        counter++;

        newRow = outlet_template.clone();
        newRow.attr('id', 'outlet' + counter);

        newRow.find('.delete-outlet').attr('data-row-id', 'outlet' + counter);
        outlet_parent.append(newRow);
        newRow.show();

        button.data('counter', counter);
    }

    $(document).on('change', '.bespoke', function() {
        let itemId = $(this).data('item-id');
        let itemContainer = $('#' + itemId);
        let materialContainer = itemContainer.find('.itemMaterialContainer');
        let button = itemContainer.find('.addMaterial')

        console.log(itemContainer)
        console.log(materialContainer)
        console.log(button)
        
        if ($(this).is(":checked")) {
            materialContainer.show(); 
            button.show();
        } else {
            materialContainer.hide();
            materialContainer.empty();
            button.hide();

            materialContainer.append('<div class="row ml-1 pb-0"> Add-Ons </div>')
        }
    });
    $(document).on('change', '.material_type', function() {
        let materialType = $(this).val();
        let select = $(this).closest('.materialRow').find('.item_material'); 
        $.ajax({
            url: '/get_material_options/',
            data: {
                'material_type': materialType
            },
            dataType: 'json',
            success: function(data) {
                let options = data.options;
                select.empty();
                select.append('<option value="delete"> None </option>');
                $.each(options, function(key, value) {
                    select.append('<option value="' + key + '">' + value + '</option>');
                });
            }
        });
    });
    $('#addord').on('click', '.addMaterial_add', function() {
        let button = $(this);
        let counter = $(this).data('counter');
        let itemId = $(this).data('item-id');

        addMaterial_add(itemId, counter, button)
    })
    $('.orderItemContainer').on('click', '.delete-material', function () {
        let rowId = $(this).data('row-id');
        let selectId = $('#' + rowId).find('.item_material').attr('id');

        setToDeleteAndHide(selectId, rowId);
    })
    $('#addord').on('click', '.addItem_add', function() {
        let counter = $(this).data('counter');
        let button = $(this);

        addItem_add(counter, button);
    })
    $('.orderItemContainer').on('click', '.delete-item', function () {
        let rowId = $(this).data('row-id'); 
        let row = $('.orderItemContainer').find('#' + rowId)
        row.remove()
    })
    $('#outlets').on('click', '.addOutlet', function () {
        let button = $(this);
        let counter = button.data('counter');

        addOutlet(counter, button);
    })
    $('#outlets').on('click', '.delete-outlet', function() {
        let rowId = $(this).data('row-id');
        let row = $("#" + rowId);
        let name = row.find('.outlet_name');

        console.log(rowId);
        console.log(row)
        
        row.hide();
        name.val('delete');
    })
    $('.edit_modal').on('click', '.addItem_edit', function () {
        let button = $(this);
        let counter = $(this).data('counter');
        let orderId = $(this).data('order-id');

        addItem_edit(orderId, counter, button)
    })
    $('.edit_modal').on('click', '.addMaterial_edit', function () {
        let button = $(this);
        let counter = $(this).data('counter');
        let orderId = $(this).data('order-id');
        let itemId = $(this).data('item-id')

        console.log(counter)
        console.log(orderId)
        console.log(itemId)

        addMaterial_edit(orderId, itemId, counter, button)
    })

    $(".submit-btn").click(function() {
        let modalId = $(this).data('modal-id');
        let action = $(this).data('action');

        let modal = $(document).find('#' + modalId);


        let item_container = modal.find('.orderItemContainer')

        let item_data = [];
        $.each(item_container.find('.orderItem_instance'), function(counter, row){
            let material_data = [];
            let material_container = $(row).find('.itemMaterialContainer');
            console.log(material_container)
            $.each(material_container.find('.materialRow'), function(counter, row){ 
                let material = {
                    'material_type': $(row).find('.material_type').val(),
                    'item_material': $(row).find('.item_material').val(),
                    'bespoke_rate': $(row).find('.bespoke_rate').val(),
                    'quantity': $(row).find('.quantity').val(),
                }
                material_data.push(material)
            });

            temp = {
                'order_item' : $(row).find('.order_item').val(),
                'bespoke': $(row).find('.bespoke').val(),
                'quantity': $(row).find('.quantity').val(),
                'materials': material_data,
            }
            item_data.push(temp)
        });

        submit_data = {
            'pk': modal.find('.pk').val(),
            'customer': modal.find('.customer').val(),
            'outlet': modal.find('.outlet').val(),
            'file_date': modal.find('.file_date').val(),
            'start_date': modal.find('.start_date').val(),
            'completion_date': modal.find('.completion_date').val(),
            'status': modal.find('.status').val(),
            'items': JSON.stringify(item_data),
            "csrfmiddlewaretoken": $("[name=csrfmiddlewaretoken]").val(),
            'action': action,
        }
        $.ajax({
            method: "post",
            data: submit_data,
            success: function(data){
                console.log(data["status"])
                if (data["status"]){
                    // redirect to returned url
                    window.location = data["url"];
                } else{
                    // controlled error, display message
                    alert(data["msg"]);
                }
            },
            error: function(xhr, textStatus, errorThrown){
                // Basic `xhr.status` Key
                // 0    = Server didn't Reply (Server Down)
                // 400  = Bad Request         (Syntax Error)
                // 403  = Forbidden           (Login Token Expired)
                // 403  = Not Found           (Invalid Url)
                // 500  = Server Error        (Django Crash)
                alert("something broke")  // uncontrolled error
            }
        });
    });
    $('.submit-btn-outlet').click(function() {
        console.log('pass');
        let outlet_data = [];
        let submit_data = {};
        $.each(outlet_parent.find('.outletRow'), function(counter, row) { 
            temp = {
                'outlet_id': $(row).find('.outlet_id').val(),
                'outlet_name': $(row).find('.outlet_name').val(),
            };
            outlet_data.push(temp);
        });
        submit_data = {
            'outlets': JSON.stringify(outlet_data),
            'action': 'outlets',
            "csrfmiddlewaretoken": $("[name=csrfmiddlewaretoken]").val(),
        }
        console.log(submit_data)

        $.ajax({
            method: "post",
            data: submit_data,
            success: function(data){
                console.log(data["status"])
                if (data["status"]){
                    // redirect to returned url
                    window.location = data["url"];
                } else{
                    // controlled error, display message
                    alert(data["msg"]);
                }
            },
            error: function(xhr, textStatus, errorThrown){
                // Basic `xhr.status` Key
                // 0    = Server didn't Reply (Server Down)
                // 400  = Bad Request         (Syntax Error)
                // 403  = Forbidden           (Login Token Expired)
                // 403  = Not Found           (Invalid Url)
                // 500  = Server Error        (Django Crash)
                alert("something broke")  // uncontrolled error
            }
        });
    })
    $('.status-checkbox').change(function() {
        let selectedStatuses = $('.status-checkbox:checked').map(function() {
            return this.value;
        }).get();
        let searchQuery = $('#search-input').val();
        $.ajax({
            type: 'GET',
            url: '{% url "search_joborders" %}',
            data: {
                'q': searchQuery,
                'status[]': selectedStatuses
            },
            success: function(response) {
                console.log("AJAX request successful.");
                updateTable(response.table_data);
            },
            error: function(xhr, status, error) {
                console.error("AJAX request failed:", error);
            }
        });
    });
            // search ajax request
            $('#search-form').on('input submit', function(event) {
                event.preventDefault(); // Prevent form submission
                let searchQuery = $('#search-input').val();
                let selectedStatuses = $('.status-checkbox:checked').map(function() {
                    return this.value;
                }).get();
                $.ajax({
                    type: 'GET',
                    url: '{% url "search_joborders" %}',
                    data: {
                        'q': searchQuery,
                        'status[]': selectedStatuses
                    },
                    success: function(response) {
                        console.log("AJAX request successful.");
                        updateTable(response.table_data); // Update table with new data
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX request failed:", error);
                    }
                });
            });

        function updateTable(data) {
            $('#joborder_table tbody').empty(); // Clear existing table rows

            $.each(data, function(index, item) {
                var row = $('<tr>');

                var joborderIdCell = $('<td>').text(item.joborder_pk);
                var joborderCustomerNameCell = $('<td>').text(item.joborder_customername);
                var joborderOutletNameCell = $('<td>').text(item.joborder_outletname);
                var joborderFileDateCell = $('<td>').text(item.joborder_filedate);
                var joborderStatusCell = $('<td>').text(item.joborder_status);
                var joborderCompletionDateCell = $('<td>').text(item.joborder_completiondate);
                var actionsCell = $('<td>');

                var editButton = $('<button>').addClass('btn btn-outline-secondary')
                    .attr('type', 'button')
                    .attr('data-toggle', 'modal')
                    .attr('data-target', '#editord-modal' + item.joborder_pk)
                    .text('Edit')
                    .css('border-radius', '30px');
                actionsCell.append(editButton);

                // Append cells to the row
                row.append(joborderIdCell);
                row.append(joborderCustomerNameCell);
                row.append(joborderOutletNameCell);
                row.append(joborderFileDateCell);
                row.append(joborderStatusCell);
                row.append(joborderCompletionDateCell);
                row.append(actionsCell);

                $('#joborder_table tbody').append(row);
            });
        }
});

window.onload = function () {
    const dateInput = document.querySelector('.file_date');
    if (!dateInput.value) { // Check if there's no initial value
        dateInput.value = new Date().toISOString().slice(0, 10);
    }
};
</script>


{% endblock %}