{% extends "CLEAR/base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet3.css' %}">
    <script src="{% static 'js/styling.js' %}"></script>
</head>


{% block content %}

<div class="row pl-3 pt-3 pr-3" style="height:700px;">
    <div class="card main-card">
        <div class="table-responsive card"
            style="overflow-y: scroll; border-radius: 15px; box-shadow: none; height: 90%; margin-bottom: 13px;">
            <table class="table table-hover table-striped" style="border-radius: 40px;">
                <thead style="background-color: #3f3e3e; color: #ffffff;">
                    <th scope="col"> Material # </th>
                    <th scope="col"> Name</th>
                    <th scope="col"> Stock</th>
                    <th scope="col"> Cost </th>
                    <th scope="col"> Total Value </th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    {% for x in materials %}
                    <tr style="height:70px;">
                        <td> {{ x.pk }} </td>
                        <td> {{ x.name }} </td>
                        <td> {{ x.stock }} </td>
                        <td> {{ x.cost }} </td>
                        <td> {{ x.total_value }} </td>
                        <td> <button type="button" class="btn btn-outline-secondary"
                                onclick="toggleModal('editMaterial{{x.pk}}', 'open')"
                                style="border-radius: 30px;">Edit</button>
                        </td>
                    </tr>

                    <!-- modal to edit materials -->
                    <div class="modal-container fade-in" id="editMaterial{{x.pk}}">
                        <div class="modal-content fade-in">
                            <div class="row ml-auto" style="margin-right: 5px; margin-top:0px; margin-bottom:0px;">
                                <span class="close"
                                    onclick="toggleModal('editMaterial{{x.pk}}', 'close')">&times;</span>
                            </div>
                            <form method="POST" action="{% url 'materials' %}"> {% csrf_token %}
                                <input type="hidden" name="edit_form" value="1"></input>
                                <input type="hidden" name="pk" value={{ x.pk }}></input>
                                <h3 style="margin-top: -40px; margin-bottom: 30px;">Edit Material</h3>
                                <div class="row">
                                    <div class="col">
                                        <label for="pk">Material ID</label>
                                        <input type="text" class="form-control" value="{{x.pk}}" readonly>
                                    </div>
                                    <div class="col">
                                        <label for="name">Material Name</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                            value="{{x.name}}">
                                    </div>
                                    <div class="col">
                                        <label for="type">Material Type</label>
                                        <select class="input-select" id="type" name="type" placeholder={{x.type}}>
                                            <option value="leather" {% if 'leather' in x.type %}selected{% endif %}>
                                                Textile</option>
                                            <option value="accessory" {% if 'accessory' in x.type %}selected{% endif %}>
                                                Accessory</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col">
                                        <label for="stock">Stock</label>
                                        <input type="number" class="form-control" id="stock" name="stock"
                                            value="{{x.stock}}" readonly>
                                    </div>
                                    <div class="col">
                                        <label for="cost">Cost</label>
                                        <input type="number" class="form-control" id="cost" name="cost"
                                            value="{{x.cost}}">
                                    </div>
                                    <div class="col">
                                        <label for="unit">Unit</label>
                                        <input type="text" class="form-control" id="unit" name="unit" value="{{x.unit}}"
                                            readonly>
                                    </div>
                                </div>
                                <div class="row" style="margin: 40px 5px 12px 5px;">
                                    <div class="col-4 order-2 ml-auto text-right">
                                        <button type="button" class="btn dark-button"
                                            onclick="toggleModal('confirmEditMaterial{{x.pk}}', 'open')"> Save Edits
                                        </button>
                                    </div>

                                    <!-- modal to confirm edits to material -->
                                    <div class="modal-overlap-container fade-in" id="confirmEditMaterial{{x.pk}}">
                                        <div class="modal-overlap-content fade-in">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col text-right">
                                                        <span class="close"
                                                            onclick="toggleModal('confirmEditMaterial{{x.pk}}', 'close')">&times;</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col text-center">
                                                        <h2> Confirm Edits? </h2>
                                                    </div>
                                                </div>
                                                <div class="row text-center" style="margin-top: 15px;">
                                                    <div class="col">
                                                        <button type="button" class="btn dark-button"
                                                            onclick="toggleModal('confirmEditMaterial{{x.pk}}', 'close')">
                                                            Continue Editing </button>
                                                    </div>
                                                    <div class="col">
                                                        <button type="submit" class="btn dark-button confirm-button">
                                                            Confirm </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </form>

                            <!-- modal to confirm deletion of material -->
                            <div class="col-4 order-1 mr-auto text-left">
                                <button type="button" class="btn dark-button"
                                    onclick="toggleModal('confirmDeleteMaterial{{x.pk}}', 'open')"> Delete Material
                                </button>
                            </div>
                            <div class="modal-overlap-container fade-in" id="confirmDeleteMaterial{{x.pk}}">
                                <form method="POST" action="{% url 'materials' %}"> {% csrf_token %}
                                    <div class="modal-overlap-content fade-in">
                                        <input type="hidden" name="delete_form" value="1">
                                        <input type="hidden" name="pk" value="{{x.pk}}">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col text-right">
                                                    <span class="close"
                                                        onclick="toggleModal('confirmDeleteMaterial{{x.pk}}', 'close')">&times;</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col text-center">
                                                    <h2> Delete Material? </h2>
                                                </div>
                                            </div>
                                            <div class="row text-center" style="margin-top: 15px;">
                                                <div class="col">
                                                    <button type="button" class="btn dark-button"
                                                        onclick="toggleModal('confirmDeleteMaterial{{x.pk}}', 'close')">
                                                        Continue Editing </button>
                                                </div>
                                                <div class="col">
                                                    <button type="submit" class="btn dark-button delete-button"> Confirm
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>


                    </div>
        </div>
    </div>
</div>
</div>
{% endfor %}

</div>

</tbody>
</table>
</div>
<div class="row ml-auto pr-3">
    <button type="button" class="btn light-button" onclick="toggleModal('addMaterial', 'open')"> Add Material</button>
</div>
</div>
</tbody>
</table>

<!-- modal to add material -->
<div class="modal-container fade-in" id="addMaterial">
    <div class="modal-content fade-in">
        <div class="row ml-auto" style="margin-right: 5px; margin-top:0px; margin-bottom:10px;">
            <span class="close" onclick="toggleModal('addMaterial', 'close')">&times;</span>
        </div>
        <form method="POST" action="{% url 'materials' %}"> {% csrf_token %}
            <input type="hidden" name="add_form" value="1"></input>
            <h3 style="margin-top: -35px; margin-bottom: 30px;">Add Material</h3>
            <div class="row">
                <div class="col">
                    <label for="name">Material ID</label>
                    <input type="text" class="form-control" value="{{last_pk}}" readonly>
                </div>
                <div class="col">
                    <label for="name">Material Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Material Name">
                </div>
                <div class="col">
                    <label for="type">Material Type</label>
                    <select class="input-select" id="type" name="type" placeholder="Material Type">
                        <option value="leather">Leather</option>
                        <option value="lining">Lining</option>
                        <option value="accessory">Accessory</option>
                    </select>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <label for="stock">Stock</label>
                    <input type="number" class="form-control" id="stock" name="stock" placeholder="Stock">
                </div>
                <div class="col">
                    <label for="cost">Cost</label>
                    <input type="number" class="form-control" id="cost" name="cost" placeholder="Cost">
                </div>
                <div class="col">
                    <label for="unit">Unit</label>
                    <input type="text" class="form-control" value="unit" readonly>
                </div>
            </div>
            <div class="row pt-3" style="margin-top: 15px; margin-left: 10px; margin-right: 15px;">
                <div class="col-4 mr-auto">
                    <button type="button" class="btn dark-button" onclick="toggleModal('addMaterial', 'close')"> Cancel
                        Action</button>
                </div>
                <div class="col-4 ml-auto text-right">
                    <button type="button" class="btn dark-button" onclick="toggleModal('confirmAddMaterial', 'open')">
                        Add Material </button>
                </div>
            </div>

            <!-- modal to confirm addition of material -->
            <div class="modal-overlap-container fade-in" id="confirmAddMaterial">
                <div class="modal-overlap-content fade-in">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-right">
                                <span class="close" onclick="toggleModal('confirmAddMaterial', 'close')">&times;</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <h2> Confirm Edits? </h2>
                            </div>
                        </div>
                        <div class="row text-center" style="margin-top: 15px;">
                            <div class="col">
                                <button type="button" class="btn dark-button"
                                    onclick="toggleModal('confirmAddMaterial', 'close')"> Continue Editing </button>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn dark-button confirm-button"> Confirm </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>







{% endblock %}