{% extends "CLEAR/base.html" %}
{% load static %}

{% block content %}
<div class="row pl-3 pt-3 pr-3" style="height:700px;">
    <div class="card main-card">
        <div class="row" style="padding: 0px 10px; height: 90%; overflow-y: auto;">
            <table class="table table-striped">
                <thead style="background-color: #A7A7A7;">
                    <th scope="col"> Order # </th>
                    <th scope="col"> Purchase Mode</th>
                    <th scope="col"> Status</th>
                    <th scope="col"> Price </th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    {% for order_data in orders %} <!-- see views for order_data breakdown -->
                    <tr style="height: 75px;">
                        <td>{{ order_data.order.pk }}</td>
                        <td>{{ order_data.order.purchase_mode }}</td>
                        <td>{{ order_data.order.order_status }}</td>
                        <td>{{ order_data.order.price }}</td>
                        <td>
                            <button type="button" class="btn light-button" onclick="toggleModal('editOrder{{order_data.order.pk}}', 'open')">Edit</button>
                        </td>
                    </tr>

                    <!-- modal to edit an order -->
                    <div class="modal-container fade-in" id="editOrder{{ order_data.order.pk }}">
                        <div class="modal-content modal-content-order fade-in"> 
                            <div class="row ml-3 mt-0" style="margin-right: 5px; margin-top:0px; margin-bottom:0px;">
                                <h2 class="mr-auto"> Edit Order </h2>
                                <span class="close ml-auto" onclick="toggleModal('editOrder{{order_data.order.pk}}', 'close')">&times;</span>
                            </div>
                            <form method="POST" action="{% url 'orders' %}"> {% csrf_token %}
                                <input type="hidden" name="edit_form" value="1">
                                <input type="hidden" name="order_pk" value="{{ order_data.order.pk }}">
                                <!-- <input type="hidden" name="current_customer_pk" value="{{ order_data.customer.pk }}"> -->
                                <div class="row m-2 justify-content-between">
                                    <div class="col-6">
                                        <div class="row mt-1">
                                            <div class="col-4">
                                                <label for="order_pk">Order ID</label>
                                                <input type="text" class="form-control" name="order_pk" id="order_pk" value="{{ order_data.order.pk }}"readonly>
                                            </div>
                                            <div class="col-4">
                                                <label for="payment_type">Payment Type</label>
                                                <select class="input-select" class="form-control" name="payment_type" id="payment_type" value="{{order_data.order.payment_type}}">
                                                    <option value="cash" {% if order_data.order.payment_type == 'cash' %}selected{% endif %}>Cash</option>
                                                    <option value="card"{% if order_data.order.payment_type == 'card' %}selected{% endif %}>Card</option>
                                                    <option value="bank_transfer"{% if order_data.order.payment_type == 'bank_transfer' %}selected{% endif %}>Bank Transfer</option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <label for="purchase_mode">Purchase Mode</label>
                                                <select class="input-select" class="form-control" name="purchase_mode" id="purchase_mode" value="{{ order_data.order.purchase_mode }}">
                                                    <option value="onsite" {% if order_data.order.purchase_mode == 'onsite' %}selected{% endif %}>Onsite</option>
                                                    <option value="website" {% if order_data.order.purchase_mode == 'website' %}selected{% endif %}>Website</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row m-0 mt-5 mb-2">
                                            <div class="col-3">Item #</div>
                                            <div class="col-6">Product Name</div>
                                            <div class="col-2"></div>
                                            <div class="col-1"></div>
                                        </div>
                                        <!-- iteration through all items in an order -->
                                        {% for item_data in order_data.items %}
                                        {% with item_number=forloop.counter %} <!-- sets item_number as the counter for items -->
                                        <input type="hidden" name="hidden_item_pk{{forloop.counter}}" value="{{item_data.item.item.pk}}">
                                        <input type="hidden" name="hidden_order_item_pk{{forloop.counter}}" value="{{item_data.item.pk}}">
                                        <div class="row mt-2" id="{{order_data.order.pk}}order_item_row{{forloop.counter}}">
                                            <div class="col-3 text-center">
                                                {{ item_number }}
                                            </div>
                                            <div class="col-5">
                                                {{ item_data.product.name }}
                                            </div>
                                            <div class="col-3">
                                                <button type="button" class="btn light-button" onclick="toggleModal('{{order_data.order.pk}}editOrderItem{{forloop.counter}}', 'open')"> Edit </button>
                                            </div>
                                            <div class="col-1">
                                                <button type="button" class="btn dark-button" onclick="setToDeleteAndHide('{{order_data.order.pk}}item_productPK{{ forloop.counter }}','{{order_data.order.pk}}order_item_row{{forloop.counter}}')"> &times</button>
                                            </div>
                                        </div>
                                        
                                    
                                        <!-- modal to edit an item  -->
                                        <div class="modal-overlap-container fade-in" id="{{order_data.order.pk}}editOrderItem{{ forloop.counter }}">
                                            <div class="modal-overlap-content" style="width: 40%; height: 65%; margin: 5% auto;">
                                                <div class="row ml-3 mt-0" style="margin-right: 5px; margin-top:0px; margin-bottom:0px;">
                                                    <h2 class="mr-auto"> Edit Item </h2>
                                                    <span class="close ml-auto" onclick="toggleModal('{{order_data.order.pk}}editOrderItem{{forloop.counter}}', 'close')">&times;</span>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-2">
                                                        <label for="order_item_number">Item #</label>
                                                        <input type="text" class="form-control" name="order_item_number{{ forloop.counter }}" id="order_item_number{{ forloop.counter }}" value="{{ forloop.counter }}" readonly>
                                                    </div>
                                                    <div class="col-2">
                                                        <label for="itemProduct_PK">Product #</label>
                                                        <select class="input-select" class="form-control" name="{{order_data.order.pk}}item_productPK{{ forloop.counter }}" id="{{order_data.order.pk}}item_productPK{{ forloop.counter }}" placeholder="Type">
                                                            <option value="delete">None</option>
                                                            {% for product in products %}
                                                            <option value="{{ product.pk }}" {% if product.pk == item_data.product.pk %}selected{% endif %}> {{ product.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label for="item_quantity">Quantity</label>
                                                        <input type="number" class="form-control" name="item_quantity{{ forloop.counter }}" id="item_quantity{{ forloop.counter }}" value="{{ item_data.item.quantity }}">
                                                    </div>
                                                    <div class="col-3">
                                                        <label for="itemproduct_name">Product Name:</label>
                                                        <input type="number" class="form-control" name="item_productName{{ forloop.counter }}" id="item_productName{{ forloop.counter }}" value="{{ item_data.product.name }}" readonly>
                                                    </div>
                                                    <div class="col-3">
                                                        <label for="item_type">Type</label>
                                                        <select class="input-select" class="form-control" name="item_type{{ forloop.counter }}" id="item_type{{ forloop.counter }}">
                                                            <option value="bespoke" {% if item_data.item.item.type == 'bespoke' %}selected{% endif %}>Bespoke</option>
                                                            <option value="regular" {% if item_data.item.item.type == 'regular' %}selected{% endif %}>Regular</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-0 mt-3">
                                                    <div class="col-5">Materials:</div>
                                                    <div class="col-2">QTY:</div>
                                                    <div class="col-3">Unit:</div>
                                                    <div class="col"></div>
                                                </div>
                                                <!-- iteration through the materials of each item -->
                                                {% for material_data in item_data.materials %}
                                                <input type="hidden" name="{{ item_number }}_item_material_number{{forloop.counter}}" value="{{forloop.counter}}">
                                                <input type="hidden" name="{{ item_number }}_item_materialPK{{forloop.counter}}" value="{{ material_data.item_material.pk }}">
                                                <div class="row mt-2" id="{{order_data.order.pk}}_{{item_number}}_item_material_row{{forloop.counter}}">
                                                    <div class="col-5">
                                                        <select class="input-select form-control" name="{{order_data.order.pk}}_{{ item_number }}_item_material_materialPK{{ forloop.counter }}" id="{{order_data.order.pk}}_{{ item_number }}_item_material_materialPK{{ forloop.counter }}">
                                                            <option value="delete">None</option>
                                                            {% for z in materials %}
                                                                <option value="{{z.pk}}" {% if z.pk == material_data.material.pk %}selected{% endif %}>{{z.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="number" class="form-control" name="{{ item_number }}_item_material_quantity{{ forloop.counter }}" id="{{ item_number }}_item_material_quantity{{ forloop.counter }}" value="{{ material_data.quantity }}">
                                                    </div>
                                                    <div class="col-3">
                                                        <input type="text" class="form-control" name="{{ item_number }}_item_material_unit{{ forloop.counter }}" id="{{ item_number }}_item_material_unit{{ forloop.counter }}" value="{{ material_data.material.unit }}" readonly>
                                                    </div>
                                                    <div class="col">
                                                        <button type="button" class="btn dark-button" onclick="setToDeleteAndHide('{{order_data.order.pk}}_{{ item_number }}_item_material_materialPK{{ forloop.counter }}', '{{order_data.order.pk}}_{{item_number}}_item_material_row{{forloop.counter}}')">&times</button>
                                                    </div>
                                                </div>
        
                                                {% endfor %}
                                                {% endwith %}
                                                
                                                <!-- not sure how to push this element down the card -->
                                                <div class="row">
                                                    <div class="col">
                                                        Item cost:
                                                    </div>
                                                    <div class="col">
                                                        <button type="button" class="btn dark-button" onclick="handleAddItem('{{ forloop.counter }}')"> Add Item</button>
                                                    </div>
                                                </div>
        
        
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <button type="button" class="btn dark-button mt-4">Add Item</button>
                                    </div>
                                    <div class="col-5">
                                        <div class="row">
                                            <b>Customer Info</b>
                                        </div>
                                        <div class="row mt-1">
                                            <label for="customer_name">Name:</label>
                                            <input type="text" class="form-control" name="customer_name" id="customer_name" value="{{ order_data.order.customer }}">
                                        </div>
                                        <div class="row mt-1">
                                            <label for="address_street">Address</label>
                                            <input type="text" class="form-control" name="address_street" id="address_street" value="{{ order_data.order.address_street}}">
                                        </div>
                                        <div class="row mt-1">
                                            <input type="text" class="form-control" name="address_barangay" id="address_barangay" value="{{ order_data.order.address_barangay }}">
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-8">
                                                <input type="text" class="form-control" name="address_city" id="address_city" value="{{ order_data.order.address_city}}">
                                            </div>
                                            <div class="col-4">
                                                <input type="text" class="form-control" name="address_zip" id="address_zip" value="{{ order_data.order.address_zip}}">
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <label for="order_date">Order Date</label>
                                            <input type="date" class="form-control" name="order_date" id="order_date" value="{{ order_data.order.order_date|date:"Y-m-d" }}">
                                        </div>
                                        <div class="row mt-1">
                                            <label for="order_date">Mobile Number</label>
                                            <input type="number" class="form-control" name="customer_number" id="customer_number" value="{{ order_data.order.contact_number }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <label for "order_status"> Order Status</label>
                                        <select class="input-select" class="form-control" name="order_status" id="order_status" placeholder="Order Status">
                                            <option value="in-queue" {% if order_data.order.order_status == 'in-queue' %}selected{% endif %}>In-queue</option>
                                            <option value="in-process" {% if order_data.order.order_status == 'in-process' %}selected{% endif %}>In-process</option>
                                            <option value="completed" {% if order_data.order.order_status == 'completed' %}selected{% endif %}>Completed</option>
                                            <option value="cancelled" {% if order_data.order.order_status == 'cancelled' %}selected{% endif %}>Cancelled</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label for="order_date">Delivery Date</label>
                                        <input type="date" class="form-control" name="delivery_date" id="delivery_date" value="{{ order_data.order.delivery_date|date:"Y-m-d" }}">
                                    </div>
                                    <div class="col-4 ml-auto mt-auto">
                                        <div class="row justify-content between">
                                            <div class="col">
                                                <button type="button" class="btn dark-button" onclick="toggleModal('confirmDeleteOrder{{order_data.order.pk}}', 'open')">Delete Order</button>
                                            </div>
                                            <div class="col">
                                                <button type="submit" class="btn dark-button">Edit Order </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <!-- modal to delete an order -->
                    <div class="modal-overlap-container fade-in" id="confirmDeleteOrder{{order_data.order.pk}}">
                        <form method="POST" action="{% url 'orders' %}"> {% csrf_token %}
                            <div class="modal-overlap-content fade-in">
                                <input type="hidden" name="delete_form" value="1">
                                <input type="hidden" name="order_pk" value="{{order_data.order.pk}}">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col text-right">
                                            <span class="close" onclick="toggleModal('confirmDeleteOrder{{order_data.order.pk}}', 'close')">&times;</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-center">
                                            <h2> Delete Order? </h2>
                                        </div>
                                    </div>
                                    <div class="row text-center" style="margin-top: 15px;">
                                        <div class="col">
                                            <button type="button" class="btn dark-button" onclick="toggleModal('confirmDeleteOrder{{order_data.order.pk}}', 'close')"> Continue Editing </button>
                                        </div>
                                        <div class="col">
                                            <button type="submit" class="btn dark-button delete-button"> Confirm </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endfor %}




                </tbody>
            </table>

            <!-- modal to add an order -->
            </div>
            <div class="row ml-auto pr-3">
                <button type="button" class="btn light-button" onclick="toggleModal('addOrder', 'open')"> Add Order</button>
            </div> 
            <div class="modal-container fade-in" id="addOrder">
                <div class="modal-content modal-content-order fade-in"> 
                    <div class="row ml-3 mt-0" style="margin-right: 5px; margin-top:0px; margin-bottom:0px;">
                        <h2 class="mr-auto"> Add Order </h2>
                        <span class="close ml-auto" onclick="toggleModal('addOrder', 'close')">&times;</span>
                    </div>
                    <form method="POST" action="{% url 'orders' %}"> {% csrf_token %}
                        <input type="hidden" name="add_form" value="1">
                        <div class="row m-2 justify-content-between">
                            <div class="col-6">
                                <div class="row mt-1">
                                    <div class="col-4">
                                        <label for="order_pk">Order ID</label>
                                        <input type="text" class="form-control" name="order_pk" id="order_pk" placeholder="Order #" readonly>
                                    </div>
                                    <div class="col-4">
                                        <label for="payment_type">Payment Type</label>
                                        <select class="input-select" class="form-control" name="payment_type" id="payment_type" placeholder="Payment Type">
                                            <option value="cash">Cash</option>
                                            <option value="card">Card</option>
                                            <option value="bank_transfer">Bank Transfer</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label for="purchase_mode">Purchase Mode</label>
                                        <select class="input-select" class="form-control" name="purchase_mode" id="purchase_mode" placeholder="Purchase Mode">
                                            <option value="onsite" selected>Onsite</option>
                                            <option value="website">Website</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row m-0 mt-5 mb-2">
                                    <div class="col-3">Item #</div>
                                    <div class="col-6">Product Name</div>
                                    <div class="col-2"></div>
                                    <div class="col-1"></div>
                                </div>
                                <!-- fixed iteration through 3 product rows -->
                                {% for y in "123" %}
                                <div class="row mt-2" id="order_item_row{{forloop.counter}}">
                                    <div class="col-3 text-center">
                                        {% cycle '1' '2' '3' as item_number %}
                                    </div>
                                    <div class="col-5">
                                        product name
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="btn light-button" onclick="toggleModal('addOrderItem{{forloop.counter}}', 'open')"> Edit </button>
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="btn dark-button" onclick="setToDeleteAndHide('item_productPK{{ forloop.counter }}', 'order_item_row{{forloop.counter}}')"> &times</button>
                                    </div>
                                </div>
                                
                            
                                <!-- modal to add an item  -->
                                <div class="modal-overlap-container fade-in" id="addOrderItem{{ forloop.counter }}">
                                    <div class="modal-overlap-content" style="width: 40%; height: 65%; margin: 5% auto;">
                                        <div class="row ml-3 mt-0" style="margin-right: 5px; margin-top:0px; margin-bottom:0px;">
                                            <h2 class="mr-auto"> Add Item </h2>
                                            <span class="close ml-auto" onclick="toggleModal('addOrderItem{{forloop.counter}}', 'close')">&times;</span>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-2">
                                                <label for="order_item_number">Item #</label>
                                                <input type="text" class="form-control" name="order_item_number{{ forloop.counter }}" id="order_item_number{{ forloop.counter }}" value="{{ forloop.counter }}" readonly>
                                            </div>
                                            <div class="col-2">
                                                <label for="itemProduct_PK">Product #</label>
                                                <select class="input-select" class="form-control" name="item_productPK{{ forloop.counter }}" id="item_productPK{{ forloop.counter }}" placeholder="Type">
                                                    <option value="delete" >None</option>
                                                    {% for product in products %}
                                                    <option value="{{ product.pk }}"> {{ product.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-2">
                                                <label for="item_quantity">Quantity</label>
                                                <input type="number" class="form-control" name="item_quantity{{ forloop.counter }}" id="item_quantity{{ forloop.counter }}">
                                            </div>
                                            <div class="col-3">
                                                <label for="itemproduct_name">Product Name:</label>
                                                <input type="number" class="form-control" name="item_productName{{ forloop.counter }}" id="item_productName{{ forloop.counter }}" readonly>
                                            </div>
                                            <div class="col-3">
                                                <label for="item_type">Type</label>
                                                <select class="input-select" class="form-control" name="item_type{{ forloop.counter }}" id="item_type{{ forloop.counter }}" placeholder="Type">
                                                    <option value="bespoke">Bespoke</option>
                                                    <option value="regular">Regular</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-0 mt-3">
                                            <div class="col-5">Materials:</div>
                                            <div class="col-2">QTY:</div>
                                            <div class="col-3">Unit:</div>
                                            <div class="col"></div>
                                        </div>
                                        <!-- fixed iteration through 2 item_materials -->
                                        {% for x in "12" %}
                                        <div class="row mt-2" id="{{item_number}}_item_material_row{{forloop.counter}}">
                                            <div class="col-5">
                                                <select class="input-select" class="form-control" name="{{ item_number }}_item_material_materialPK{{ forloop.counter }}" id="{{ item_number }}_item_material_materialPK{{ forloop.counter }}">
                                                    <option value="delete" selected>None</option>
                                                    {% for z in materials %}
                                                        <option value="{{z.pk}}">{{z.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-2">
                                                <input type="number" class="form-control" name="{{ item_number }}_item_material_quantity{{ forloop.counter }}" id="{{ item_number }}_item_material_quantity{{ forloop.counter }}">
                                            </div>
                                            <div class="col-3">
                                                <input type="text" class="form-control" name="{{ item_number }}_item_material_unit{{ forloop.counter }}" id="{{ item_number }}_item_material_unit{{ forloop.counter }}" readonly>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn dark-button" onclick="setToDeleteAndHide('{{ item_number }}_item_material_materialPK{{ forloop.counter }}', '{{item_number}}_item_material_row{{forloop.counter}}')">&times</button>
                                            </div>
                                        </div>

                                        {% endfor %}
                                        
                                        <div class="row">
                                            <div class="col">
                                                Item cost:
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn dark-button" onclick="handleAddItem('{{ forloop.counter }}')"> Add Item</button>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                {% endfor %}
                                <button type="button" class="btn dark-button mt-4">Add Item</button>
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <b>Customer Info</b>
                                </div>
                                <div class="row mt-1">
                                    <label for="customer_name">Name:</label>
                                    <input type="text" class="form-control" name="customer_name" id="customer_name">
                                </div>
                                <div class="row mt-1">
                                    <label for="address_street">Address</label>
                                    <input type="text" class="form-control" name="address_street" id="address_street">
                                </div>
                                <div class="row mt-1">
                                    <input type="text" class="form-control" name="address_barangay" id="address_barangay">
                                </div>
                                <div class="row mt-1">
                                    <div class="col-8">
                                        <input type="text" class="form-control" name="address_city" id="address_city">
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" name="address_zip" id="address_zip">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <label for="order_date">Order Date</label>
                                    <input type="date" class="form-control" name="order_date" id="order_date">
                                </div>
                                <div class="row mt-1">
                                    <label for="order_date">Mobile Number</label>
                                    <input type="number" class="form-control" name="customer_number" id="customer_number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label for "order_status"> Order Status</label>
                                <select class="input-select" class="form-control" name="order_status" id="order_status" placeholder="Order Status">
                                    <option value="in-queue" selected>In-queue</option>
                                    <option value="in-process">In-process</option>
                                    <option value="completed">Completed</option>
                                    <option value="cancelled">Cancelled</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <label for="order_date">Delivery Date</label>
                                <input type="date" class="form-control" name="delivery_date" id="delivery_date">
                            </div>
                            <div class="col-2 ml-auto mt-auto">
                                <button type="submit" class="btn dark-button">Add Order </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}