{% extends "CLEAR/base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet3.css' %}">
    <script src="{% static 'js/styling.js' %}"></script>

</head>

{% block content %}
<div class="row pl-3 pt-3 pr-3" style="height:700px;">
    <div class="card main-card">
        {% if error_message %}
            <h5 style="color: #FF0000;">{{ error_message }}</h5>
        {% endif %}
        <div class="table-responsive card" style="overflow-y: scroll; border-radius: 15px; box-shadow: none; height: 90%; margin-bottom: 13px;">
            <table id="product_table" class="table table-hover table-striped" style="border-radius: 40px;">
                <thead style="background-color: #3f3e3e; color: #ffffff;">
                    <th scope="col">Product #</th>
                    <th scope="col">Name</th>
                    <th scope="col">Retail Price</th>
                    <th scope="col">Last Update</th>
                    <th scope="col">Price Difference</th>
                    <th scope="col">Days since Last Update</th>
                </thead>
                <tbody>
                    {% for product_data in table_data %}
                    <tr style="height: 75px;">
                        <td>{{ product_data.product_pk }}</td>
                        <td>{{ product_data.product_name }}</td>
                        <td>PHP {{ product_data.product_retailprice|floatformat:2 }}</td>
                        <td>PHP {{ product_data.product_calcprice|floatformat:2 }}</td>
                        <td>PHP {{ product_data.product_difference|floatformat:2 }}</td>
                        <td>{{ product_data.product_dayslastupdate }} days </td>
                    </tr>
                    {% endfor %}                    
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}