{% extends "CLEAR/base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet4.css' %}">
    <script src="{% static 'js/styling.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>

{% block content %}
<div class="row pt-4">
    <div class="col-6">
        <div class="card" style="height:190px; border-radius: 10px;">
            <div class="card-body">
                <div class="card-title">
                    <h4>Job Order Summary</h4>
                </div>
                <div class="card-text">
                    <div class="row d-flex justify-content-around ml-3">
                        <div class="col" style="display: flex; flex-direction: column;">
                            {% if file_count == 0 %}
                            <p class="m-0" style="font-size: 40px; color: gray;"> {{file_count}} </p>
                            {% endif %}
                            {% if file_count > 0 %}
                            <p class="m-0" style="font-size: 40px;"> {{file_count}} </p>
                            {% endif %}
                            <p style="font-size: 15px;"> Filed </p>
                        </div>
                        <div class="col" style="display: flex; flex-direction: column;">
                            {% if complete_count == 0 %}
                            <p class="m-0" style="font-size: 40px; color: gray;"> {{complete_count}} </p>
                            {% endif %}
                            {% if complete_count > 0 %}
                            <p class="m-0" style="font-size: 40px;"> {{complete_count}} </p>
                            {% endif %}
                            <p style="font-size: 15px;"> Completed </p>
                        </div>
                        <div class="col" style="display: flex; flex-direction: column;">
                            {% if start_count == 0 %}
                            <p class="m-0" style="font-size: 40px; color: gray;"> {{start_count}} </p>
                            {% endif %}
                            {% if start_count > 0 %}
                            <p class="m-0" style="font-size: 40px;"> {{start_count}} </p>
                            {% endif %}
                            <p style="font-size: 15px;"> Started </p>
                        </div>
                        <div class="col" style="display: flex; flex-direction: column;">
                            {% if average_duration == 0 %}
                            <p class="m-0" style="font-size: 40px; color: gray;"> {{average_duration|floatformat:0}}
                            </p>
                            {% endif %}
                            {% if average_duration > 0 %}
                            <p class="m-0" style="font-size: 40px;"> {{average_duration|floatformat:0}} </p>
                            {% endif %}
                            <p style="font-size: 15px;"> Average Duration </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" style="height:190px; border-radius: 10px;">
            <div class="card-body">
                <div class="card-title">
                    <h4>Item Distribution</h4>
                </div>
                <div class="card-text">
                    <div class="row d-flex justify-content-around">
                        <div class="col">
                            {% if bespoke_count == 0 %}
                                <p class="m-0" style="font-size: 40px; color: gray;"> {{bespoke_count}}
                            </p>
                            {% endif %}
                            {% if bespoke_count > 0 %}
                                <p class="m-0" style="font-size: 40px;">{{bespoke_count}} </p>
                            {% endif %}
                            <p class="m-0" style="font-size: 15px;"> Bespoke Items </p>
                        </div>
                        <div class="col">
                            {% if regular_count == 0 %}
                                <p class="m-0" style="font-size: 40px; color: gray;"> {{regular_count}}
                            </p>
                            {% endif %}
                            {% if regular_count > 0 %}
                                <p class="m-0" style="font-size: 40px;">{{regular_count}} </p>
                            {% endif %}
                            <p class="m-0" style="font-size: 15px;"> Regular Items </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pl-3 pt-3 pr-3" style="height:68%">
    <div class="card main-card">
        <div class="table-responsive card"
            style="overflow-y: scroll; border-radius: 15px; box-shadow: none; height: 90%; margin-bottom: 13px;">
            <table class="table table-hover table-striped" style="border-radius: 40px;">
                <thead class="sticky-top" style="background-color: #3f3e3e; color: #ffffff;">
                    <th scope="col"> Job Order # </th>
                    <th scope="col"> Customer Name </th>
                    <th scope="col"> Outlet</th>
                    <th scope="col"> Status </th>
                    <th scope="col"> File Date</th>
                    <th scope="col"> Start Date</th>
                    <th scope="col"> Completion Date</th>
                    <th scope="col"> Duration </th>
                    <th scope="col"> Total Price </th>
                </thead>
                <tbody>
                    {% for order_data in orders %}
                    <tr style="height:70px;">
                        <td> {{ order_data.order.pk }} </td>
                        <td> {{ order_data.order.customer}} </td>
                        <td> {{ order_data.order.outlet.outlet_name }}</td>
                        <td> {{ order_data.status|title }} </td>
                        <td> {{ order_data.file_date }} </td>
                        <td> {{ order_data.order.start_date }}</td>
                        <td> {{ order_data.completion_date }}</td>
                        <td> {{ order_data.duration }}</td>
                        <td> {{ order_data.total_price}}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row" style="margin-right: 15px;">
            <div class="col-2 ml-auto">
                <form method="POST">{% csrf_token %}
                    <button type="button" class="btn light-button download_button" style="display: flex; justify-content: right; margin-bottom: 15px;" data-start-date="{{start_date}}" data-end-date="{{end_date}}">
                        Download
                    </button>
                </form>
            </div>
        </div>
        
        
    </div>
</div>


<script>
    $(document).ready(function() {
        const editContainer = $('.editContainer');
        $(".download_button").click(function() {
            let start_date = $(this).data("start-date");
            let end_date = $(this).data("end-date");

            $.ajax({
                url: "/download_prodrep/",
                type: "GET", // Ensure data is sent using POST for security
                data: {
                  start_date: start_date,
                  end_date: end_date,
                  csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val()

                },
                xhrFields:{
                    responseType: 'blob'
                },
                success: function(data) {
                    console.log(data)
                    var blob = data;
                    var downloadUrl = URL.createObjectURL(blob);
                    var a = document.createElement("a");
                    a.href = downloadUrl;
                    a.download = "production_report.xlsx";
                    document.body.appendChild(a);
                    a.click();
                },
                error: function(error) {
                  console.error("Error downloading file:", error);
                  // Handle potential errors gracefully, e.g., display an error message to the user
                }
            });
        });
    });
</script>

{% endblock %}