{% extends "CLEAR/base.html" %}
{% load static %}

<!--PLEASE FIX THE BUTTON DESIGN-->

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet4.css' %}">
    <script src="{% static 'js/styling.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>

{% block content %}

<div class="row pl-3 pt-3 pr-3" style="height:700px;">
    <div class="card main-card">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#generateReportModal">
                    Generate Report
                </button>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#optionsModal">
                    Select
                </button>
            </div>
        </div>
        
        <!--GENERATE REPORT MODAL-->
        <div class="modal fade" id="generateReportModal" tabindex="-1" role="dialog" aria-labelledby="generateReportModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="generateReportModalLabel">Generate Report</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="reportDate">Date:</label>
                            <input type="text" class="form-control" id="reportDate" placeholder="MMMM-DD-YYYY">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Generate</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!--SELECT MODAL FOR TYPE OF REPORT TO BE DISPLAYED-->
        <div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="optionsModalLabel">Options</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a class="dropdown-item" href="#">Production</a>
                        <a class="dropdown-item" href="#">Shopping List</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="table-responsive card" style="overflow-y: scroll; border-radius: 15px; box-shadow: none; height: 90%; margin-bottom: 13px; margin-top: 20px;">
            <table class="table table-hover table-striped" style="border-radius: 40px;">
                <thead class="sticky-top" style="background-color: #3f3e3e; color: #ffffff;">
                    <tr>
                        <th scope="col"> Material # </th>
                        <th scope="col"> Name</th>
                        <th scope="col"> Amount Needed To Buy </th>
                        <th scope="col"> Cost Per Item </th>
                        <th scope="col"> Estimated Total </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <!--TABLE GOES HERE-->
            </table>
        </div>
    </div>
</div>

{% endblock %}
