{% extends "CLEAR/base.html" %}
{% load static %}

<!--PLEASE FIX THE BUTTON DESIGN-->

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet4.css' %}">
    <script src="{% static 'js/styling.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>

{% block content %}

<div class="row pl-3 pt-3 pr-3" style="height:700px;">
    <div class="card main-card">
        <div class="table-responsive card"
            style="overflow-y: scroll; border-radius: 15px; box-shadow: none; height: 90%; margin-bottom: 13px;">
            <table class="table table-hover table-striped" style="border-radius: 40px;">
                <thead style="background-color: #3f3e3e; color: #ffffff;">
                    <th scope="col"> Material # </th>
                    <th scope="col"> Name</th>
                    <th scope="col"> Amount Needed To Buy </th>
                    <th scope="col"> Cost Per Item </th>
                    <th scope="col"> Estimated Total </th>
                    <th scope="col"></th>
                </thead>
            </table>
        </div>
        <div class="row" style="display: flexbox; justify-content: flex-end; margin-right: 15px;">
            <button type="button" class="btn light-button" data-toggle="modal" data-target="#generateReportModal">
                Generate Report
            </button>
        </div>
        <!--GENERATE REPORT MODAL-->
        <div class="modal" id="generateReportModal" tabindex="-1" role="dialog" aria-labelledby="generateReportModalLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content"  style="width: 350px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="generateReportModalLabel">Generate Report</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{% url 'reports' %}"> {% csrf_token %}
                        <div class="modal-body ml-4">
                            <div class="row" style="display: flexbox; align-items: baseline;">
                                <label for="reptype">Report type</label>
                                <select class="reptype input-select" name="reptype" style="width: 150px; border-radius: 100px; margin-left: 20px;">
                                    <option value="materials">Materials</option>
                                    <option value="production">Production</option>
                                    <option value="pricing">Pricing</option>
                                    <option value="shopping_list">Shopping List</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer" style="display: flexbox; justify-content: space-between;">
                            <button type="button" class="btn dark-button" style="border-radius: 100px;" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn dark-button" >Generate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
        
    </div>
</div>


<script>
</script>

{% endblock %}