{% extends "CLEAR/base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet4.css' %}">
    <script src="{% static 'js/styling.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>


{% block content %}

<div class="row pl-3 pt-3 pr-3" style="height:700px;">
    <div class="card main-card">
        <div class="table-responsive card"
            style="overflow-y: scroll; border-radius: 15px; box-shadow: none; height: 90%; margin-bottom: 13px;">
            <table class="table table-hover table-striped" style="border-radius: 40px; width: auto;">
                <thead class="sticky-top" style="background-color: #3f3e3e; color: #ffffff;">
                    <th scope="col"> Stock-in #</th>
                    <th scope="col"> Date</th>
                    <th scope="col"> Stock-in Cost </th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    {% for stockIn_data in stock_ins %}
                        <tr style="height:70px;">
                            <td> {{ stockIn_data.stock_in.pk }} </td>
                            <td> {{ stockIn_data.stock_in.transaction_date|date:"Y-m-d" }} </td>
                            <td> {{ stockIn_data.stock_in.total_cost }} </td>
                            <td> <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                    data-target="#editstock-modal{{stockIn_data.stock_in.pk}}" style="border-radius: 30px;">Edit</button>
                            </td>
                        </tr>


                        <!-- modal to edit materials -->
                    <form method="POST" action="{% url 'materials' %}"> {% csrf_token %}
                        <div class="modal edit_modal" id="editstock-modal{{stockIn_data.stock_in.pk}}" tabindex="-1" role="dialog" aria-labelledby="orange-modal-label">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-11">
                                                <h3 style="margin-bottom: 30px;">Edit Stock-in</h3>
                                            </div>
                                            <div class="col-1"><button type="button" class="close btn-close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <label for="pk">Stock-in #</label>
                                                <input type="number" class="pk form-control" value="{{stockIn_data.stock_in.pk}}" readonly>
                                            </div>
                                            <div class="col-4">
                                                <label for="date">Stock-in Date</label>
                                                <input type="date" class="date form-control" name="date" value="{{stockIn_data.stock_in.transaction_date|date:"Y-m-d"}}">
                                            </div>
                                            <div class="col-4">
                                                <label for="total_cost" class="mb-2">Total Cost:</label>
                                                <input type="number" class="total_cost form-control" name="total_cost" value="{{stockIn_data.stock_in.total_cost}}" readonly>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                Materials Bought
                                            </div>
                                            <div class="col-2">
                                                Qty
                                            </div>
                                            <div class="col-3">
                                                Cost
                                            </div>
                                            <div class="col-1">
                                            </div>
                                        </div>
                                        <div class="materialRowContainer pl-4 pr-4" id="materialRowContainer{{stockIn_data.stock_in.pk}}" style="height:50%; overflow-x:visible; overflow-y:scroll;">
                                            {% for material_data in stockIn_data.materials %}
                                            <div class="materialRow row mt-1" id="{{stockIn_data.stock_in.pk}}materialRow{{forloop.counter}}">
                                                <div class="col-3">
                                                    <select class="material_type input-select">
                                                        <option value="textile" {% if material_data.type == 'textile' %} selected {% endif %}> Textile</option>
                                                        <option value="accessory" {% if material_data.type == 'accessory' %} selected {% endif %}> Accessory</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <select class="stock_material input-select" id="{{stockIn_data.stock_in.pk}}stock_material{{forloop.counter}}">
                                                        <option value="delete"> None </option>
                                                        {% if material_data.type == 'textile' %}
                                                            {% for z in textiles %}
                                                            <option value="{{z.material_key.material_key}}" {% if material_data.pk == z.material_key.material_key %} selected {% endif %}>{{z.name}}</option>
                                                            {% endfor %}

                                                        {% elif material_data.type == 'accessory' %}
                                                            {% for z in accessories %}
                                                            <option value="{{z.material_key.material_key}}" {% if material_data.pk == z.material_key.material_key %} selected {% endif %}>{{z.name}}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="col-2">
                                                    <input type="number" class="quantity form-control" name="quantity" value="{{material_data.quantity}}" step="0.01">
                                                </div>
                                                <div class="col-3">
                                                    <input type="number" class="cost form-control" name="cost" value="{{material_data.cost}}" step="0.01">
                                                </div>
                                                <div class="col-1">
                                                    <button type="button" class="btn dark-button delete-row"
                                                    data-row-id="{{stockIn_data.stock_in.pk}}materialRow{{forloop.counter}}"> &times
                                                    </button>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="row justify-content-center mt-3">
                                            <button type="button" class="btn dark-button x-button addStock_edit" data-counter="{{stockIn_data.material_count}}" data-stock-id="{{stockIn_data.stock_in.pk}}">Add Row</button>
                                        </div>
                                        <div class="row pt-3" style="margin-top: 15px; display: flexbox; justify-content: space-between;">
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delconf-modal{{stockIn_data.stock_in.pk}}" style="border-radius: 35px; max-height: fit-content;">Delete Stock-in</button>
                                                <button type="button" class="btn dark-button" data-toggle="modal"
                                                    data-target="#editconf-modal{{stockIn_data.stock_in.pk}}"> Confirm
                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- CONFIRM EDIT MATERIALS MODAL-->

                        <div class="modal" id="editconf-modal{{stockIn_data.stock_in.pk}}" tabindex="-1"
                            style=" margin-left: 15%; margin-top: 10%; width: 70%;">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="col-12">
                                        <h4 style="text-align: center;"> Confirm edits? </h4>
                                    </div>
                                    <div class="row text-center" style="margin-top: 15px;">
                                        <div class="col">
                                            <button type="button" class="btn dark-button" data-dismiss="modal"> Continue
                                                Editing </button>
                                        </div>
                                        <div class="col">
                                            <button type="submit" class="submit-btn btn dark-button confirm-button" data-action="edit_form" data-id="{{stockIn_data.stock_in.pk}}">
                                                Confirm </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                        
                        <!-- CONFIRM DELETE MATERIALS MODAL-->

                        <div class="modal" id="delconf-modal{{stockIn_data.stock_in.pk}}" tabindex="-1"
                            style=" margin-left: 15%; margin-top: 10%; width: 70%;">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="col-12">
                                        <h4 style="text-align: center;"> Delete Stock_In? </h4>
                                    </div>
                                    <div id="confirmDeleteMaterial{{stockIn_data.stock_in.pk}}">
                                        <form method="POST" action="{% url 'stock_in' %}"> {% csrf_token %}
                                            <input type="hidden" name="delete_form" value="1">
                                            <input type="hidden" name="pk" value="{{stockIn_data.stock_in.pk}}">
                                            <div class="container-fluid">
                                                <div class="row text-center" style="margin-top: 15px;">
                                                    <div class="col">
                                                        <button type="button" class="btn dark-button" data-dismiss="modal">
                                                            Continue Editing
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button type="submit" class="btn dark-button delete-button"> Confirm </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="row ml-auto pr-3">
        <button type="button" class="btn light-button" data-toggle="modal" data-target="#addstock-modal"> Create Stock-in
        </button>
    </div>
</div>
</tbody>
</table>

<!-- ADD MATERIAL MODAL -->
<form method="POST" action="{% url 'stock_in' %}"> {% csrf_token %}
    <div class="modal" id="addstock-modal" tabindex="-1" role="dialog" aria-labelledby="orange-modal-label">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <input type="hidden" name="add_form" value="1"></input>
                    <div class="row">
                        <div class="col-11">
                            <h3 style="margin-bottom: 30px;">Create Stock-in</h3>
                        </div>
                        <div class="col-1"><button type="button" class="close btn-close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="pk">Stock-in #</label>
                            <input type="number" class="pk form-control" value="" readonly>
                        </div>
                        <div class="col-4">
                            <label for="date">Stock-in Date</label>
                            <input type="date" class="date form-control" name="date">
                        </div>
                        <div class="col-4">
                            <label for="total_cost" class="mb-2">Total Cost:</label>
                            <input type="number" class="total_cost form-control" name="total_cost" readonly>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            Materials Bought
                        </div>
                        <div class="col-2">
                            Qty
                        </div>
                        <div class="col-3">
                            Cost
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                    <div class="materialRowContainer pl-4 pr-4" id="materialRowContainer" style="height:50%; overflow-x:visible; overflow-y:scroll;">
                        <div class="materialRow row mt-1" id="materialRow1">
                            <div class="col-3">
                                <select class="material_type input-select">
                                    <option value="textile"> Textile</option>
                                    <option value="accessory"> Accessory</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select class="stock_material input-select" id="stock_material1">
                                    <option value="delete"> None </option>
                                    {% for z in textiles %}
                                    <option value="{{z.material_key.material_key}}">{{z.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-2">
                                <input type="number" class="quantity form-control" name="quantity" placeholder="1" step="0.01">
                            </div>
                            <div class="col-3">
                                <input type="number" class="cost form-control" name="cost" placeholder="Cost" step="0.01">
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn dark-button delete-row"
                                data-row-id="materialRow1"> &times
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <button type="button" class="btn dark-button x-button addStock_add" data-counter="1">Add Row</button>
                    </div>
                    <div class="row pt-3" style="margin-top: 15px;">
                        <div class="col-4 ml-auto text-right">
                            <button type="button" class="btn dark-button" data-toggle="modal"
                                data-target="#confirm-modal"> Create Stock-in
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONFIRM ADD MODAL -->
    <div class="modal" id="confirm-modal" tabindex="-1" style="margin-left: -10%; margin-top: 1%; width: 100%;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-12">
                    <h4 style="text-align: center;"> Create Stock-in? </h4>
                </div>
                <div class="row text-center" style="margin-top: 15px;">
                    <div class="col">
                        <button type="button" class="btn dark-button" data-dismiss="modal"> Continue
                            Editing </button>
                    </div>
                    <div class="col">
                        <button type="button" class="submit-btn btn dark-button confirm-button" data-action="add_form" data-id=""> Confirm </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="materialRow row mt-1" id="materialRow_temp" style="display:none;">
    <div class="col-3">
        <select class="material_type input-select">
            <option value="textile"> Textile</option>
            <option value="accessory"> Accessory</option>
        </select>
    </div>
    <div class="col-3">
        <select class="stock_material input-select" id="stock_material1">
            <option value="delete"> None </option>
            {% for z in textiles %}
            <option value="{{z.material_key.material_key}}">{{z.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-2">
        <input type="number" class="quantity form-control" name="quantity" placeholder="1" step="0.01">
    </div>
    <div class="col-3">
        <input type="number" class="cost form-control" name="cost" placeholder="Cost" step="0.01">
    </div>
    <div class="col-1">
        <button type="button" class="btn dark-button delete-row"
        data-row-id="" data-counter=""> &times
        </button>
    </div>
</div>
<script>
    $(document).ready(function() {
        const addStock_parent = $('#materialRowContainer');
        const materialRow_template = $('#materialRow_temp');
        function addMaterial_add(counter, button) {
            counter++
            newRow = materialRow_template.clone()
            newRow.attr('id', 'materialRow' + counter);
            newRow.find('.material_type').val('textile');
            newRow.find('.stock_material').val('delete').attr('id', 'stock_material' + counter);
            newRow.find('.quantity').val('');
            newRow.find('.cost').val('');

            newRow.find('.delete-row').attr('data-row-id', 'materialRow' + counter);

            addStock_parent.append(newRow);
            newRow.show();
            
            button.data('counter', counter);

            console.log(newRow);
        }

        function addMaterial_edit(counter, button, stockId) {
            counter++
            newRow = materialRow_template.clone()
            newRow.attr('id', stockId + 'materialRow' + counter);
            newRow.find('.material_type').val('textile');
            newRow.find('.stock_material').val('delete').attr('id', stockId + 'stock_material' + counter);
            newRow.find('.quantity').val('');
            newRow.find('.cost').val('');

            newRow.find('.delete-row').attr('data-row-id', stockId + 'materialRow' + counter);

            let parent = $('#materialRowContainer' + stockId + '.materialRowContainer')

            parent.append(newRow);
            newRow.show();
            
            button.data('counter', counter);

            console.log(newRow);
        }

        $(".submit-btn").click(function() {
            let stockIn_id = $(this).data('id');
            let action = $(this).data('action');

            let stockIn_modal;

            if (action === 'edit_form') {
                stockIn_modal = $(document).find('#editstock-modal' + stockIn_id)
            } else {
                stockIn_modal = $(document).find('#addstock-modal')
            }

            let materialRow_container = $('#materialRowContainer' + stockIn_id);
            material_data = []
            $.each(materialRow_container.find('.materialRow'), function(counter, row){
                console.log(row)
                temp = {
                    'material_type': $(row).find('.material_type').val(),
                    'stock_material': $(row).find('.stock_material').val(),
                    'quantity': $(row).find('.quantity').val(),
                    'cost': $(row).find('.cost').val(),
                }
                material_data.push(temp)
            });

            submit_data = {
                'pk': stockIn_modal.find('.pk').val(),
                'date': stockIn_modal.find('.date').val(),
                'materials': JSON.stringify(material_data),
                "csrfmiddlewaretoken": $("[name=csrfmiddlewaretoken]").val(),
                'action': action,
            }


            $.ajax({
                method: "post",
                data: submit_data,
                success: function(data){
                    console.log(data["status"])
                    if (data["status"]){
                        // redirect to returned url
                        window.location = data["url"];
                    } else{
                        // controlled error, display message
                        alert(data["msg"]);
                    }
                },
                error: function(xhr, textStatus, errorThrown){
                    // Basic `xhr.status` Key
                    // 0    = Server didn't Reply (Server Down)
                    // 400  = Bad Request         (Syntax Error)
                    // 403  = Forbidden           (Login Token Expired)
                    // 403  = Not Found           (Invalid Url)
                    // 500  = Server Error        (Django Crash)
                    alert("something broke")  // uncontrolled error
                }
            });


        });

        $(document).on('change', '.material_type', function() {
            let materialType = $(this).val();
            let select = $(this).closest('.materialRow').find('.stock_material'); 
            $.ajax({
                url: '/get_material_options/',
                data: {
                    'material_type': materialType
                },
                dataType: 'json',
                success: function(data) {
                    var options = data.options;
                    select.empty();
                    select.append('<option value="delete"> None </option>');
                    $.each(options, function(key, value) {
                        select.append('<option value="' + key + '">' + value + '</option>');
                    });
                }
            });
        });
        $('.materialRowContainer').on('click', '.delete-row', function () {
            let rowId = $(this).data('row-id');
            let selectId = $('#' + rowId).find('.stock_material').attr('id');

            setToDeleteAndHide(selectId, rowId);
        });
        $('#addstock-modal').on('click', '.addStock_add', function() {
            let counter = $(this).data('counter');
            let button = $(this);

            addMaterial_add(counter, button);
        });
        $('.edit_modal').on('click', '.addStock_edit', function() {
            let counter = $(this).data('counter');
            let button = $(this);
            let stockId = $(this).data('stock-id');

            addMaterial_edit(counter, button, stockId);
        });


    
    });
</script>

{% endblock %}